{% extends "layout.html" %}
{% block body %}
            <!--end-->
            <!-------page banner------>
            <div class="page-head_agile_info_w3l" style="background-image: url({{ url_for('static',filename='images/banrr2.jpg')}});background-position-x: center;background-position-y: center;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-ms-background-size: cover; -moz-background-size: cover; min-height: 280px;padding-top: 50px;">
                <div class="container">
                    <h1 style="text-align: center;color: #ff4157; font-family: exotc350_dmbd_btdemi-bold; font-size: 85px;letter-spacing: 2px; text-transform: capitalize;">Birthday Themes</h1>
                   <!---------bradcrumbs--------->
                    <div class="services-breadcrumb">
                        <div class="agile_inner_breadcrumb">
                                <a href="/home"><b>Home</b></a><span style="font-weight: 300;font-size: 28px;padding-left: 20px;padding-right: 20px"><b>|</b></span>Birthday
                        </div>
                    </div>
                </div>
            </div>
            <!-----------Paragraph/heading----------->
            <div class="container">
                <p style="font-weight: 25px;font-size: 15px; padding-top: 25px; word-spacing: 0.2rem;font-family: 'Lato', sans-serif;">Sometimes your loved one’s special day is here before you know it and you haven’t planned anything to celebrate. We know it can be hard to decide on a party theme that you and all your guests will enjoy. That’s why we created a birthday party themes generator that will give you all kinds of festive inspiration for the big day. Based on party style and guest age, we’ll suggest some great ideas to get you well on your way to party-planning success!</p>
            </div>
                <div class="blog-list">
                    <div class="container">
                        <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">BIRTHDAY PARTY THEMES</h4>
                    </div>
                </div>

            <!-------slider 1 themes------>
            <div class="heading">
                <h1>Kid Friendly</h1>
            </div>
            <!--swiper slider-->
            <div class="container" style="background-color: #F0F0F0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-------slide 1-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/theme1.png')}}">
                            </div>
                            <p class="detail">Woodland Wonderland
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 2---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/theme2.png')}}">
                            </div>
                            <p class="detail">Circus Soiree
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 3----------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/theme3.png')}}">
                            </div>
                            <p class="detail">Construction Spree
                                <a href="#" class="price">Price-40$</a> 
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 4------------>
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                               <img src="{{ url_for('static',filename='images/theme4.png')}}">
                            </div>
                            <p class="detail">Mermaid Merriment
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>    
                    </div>
                    <!--------slide 5------------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/dinosaur-balloons.jpg')}}">
                            </div>
                            <p class="detail">Dinosaur Jam
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 6--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/garden-gala-table.jpg')}}">
                            </div>
                            <p class="detail">Garden Gala
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!-----------slide 7---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/rainbow-art-birthday-party.jpg')}}">
                            </div>
                            <p class="detail">Art-y Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!-------slide 8-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/talent-night-chalkboard.jpg')}}">
                            </div>
                            <p class="detail">Talent Show Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 9--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/theme9.png')}}">
                            </div>
                            <p class="detail">Sleepover Soiree
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--slide 10---->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/theme10.png')}}">
                            </div>
                            <p class="detail">Book Banquet
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--swiper  slider end-->
            <!--slider 2---->
            <div class="heading">
                <h1>ADULTS ONLY </h1>
            </div>
            <!--swiper slider-->
            <div class="container" style="background-color: #F0F0F0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!------slide 1----->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/Adults1.jfif')}}">
                            </div>
                            <p class="detail">Rose Gold Balloon Arch Kit
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 2--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/Adult2.jfif')}}">
                            </div>
                            <p class="detail">Diners Retro Night Party Birthday Theme 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!-------slide 3-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults3.png')}}">
                            </div>
                            <p class="detail">Have a Cake Swap
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 4------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults4.png')}}">
                            </div>
                            <p class="detail">Cook the Night Away
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 5-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults5.png')}}">
                            </div>
                            <p class="detail">Spring for High Tea
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 6---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults6.png')}}">
                            </div>
                            <p class="detail">Throw a Margarita/Margherita Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!------------slide 7-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults7.png')}}">
                            </div>
                            <p class="detail">Create a Destination Celebration
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 8---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults8.jfif')}}">
                            </div>
                            <p class="detail">Large Party Pops
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 9-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults9.jfif')}}">
                            </div>
                            <p class="detail">Yard Sign
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 10--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/adults10.jpeg')}}">
                            </div>
                            <p class="detail">High Tea Gala
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--swiper  slider end-->
            <!--slider 3 ---->
            <div class="heading">
                <h1>ANY AGE</h1>
            </div>
            <!--swiper slider-->
            <div class="container" style="background-color: #F0F0F0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!------slide 1----->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage1.jfif')}}">
                            </div>
                            <p class="detail">Quinceanera Birthday Party Theme
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 2--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage2.jfif')}}">
                            </div>
                            <p class="detail">Paris Theme 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!-------slide 3-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage3.jfif')}}">
                            </div>
                            <p class="detail">Unicorn Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 4------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage4.jfif')}}">
                            </div>
                            <p class="detail">Vintage Dude
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 5-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage5.jfif')}}">
                            </div>
                            <p class="detail">Vintage Boardwalk Carnival Birthday party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 6---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage6.jfif')}}">
                            </div>
                            <p class="detail">Sweet Trear Ideas For a Sweet 16 Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!------------slide 7-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage7.jfif')}}">
                            </div>
                            <p class="detail">Sprinkles
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 8---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage8.jfif')}}">
                            </div>
                            <p class="detail">Sea Mermaid Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 9-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage9.jfif')}}">
                            </div>
                            <p class="detail">Party Nights
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 10--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage10.jfif')}}">
                            </div>
                            <p class="detail">Milestone Birthday Tradition
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--swiper slider-->
        <!--slider 4-->
            <div class="container" style="background-color: #F0F0F0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!------slide 1----->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage11.jfif')}}">
                            </div>
                            <p class="detail">Outdoor Movie Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 2--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage12.jfif')}}">
                            </div>
                            <p class="detail">Modern Rose Day Party 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!-------slide 3-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage13.jfif')}}">
                            </div>
                            <p class="detail">Masquerade
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 4------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage14.jfif')}}">
                            </div>
                            <p class="detail">Mardi Glass
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 5-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage16.jfif')}}">
                            </div>
                            <p class="detail">Let's Flamingle Luau
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!---------slide 6---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage15.jfif')}}">
                            </div>
                            <p class="detail">Kitty Cat Diva Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!------------slide 7-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage17.jfif')}}">
                            </div>
                            <p class="detail">Happy Birthday Man
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 8---------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage18.jfif')}}">
                            </div>
                            <p class="detail">Hip Hop Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!--------slide 9-------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage19.jfif')}}">
                            </div>
                            <p class="detail">Farm Chick Birthday Party
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 10--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage20.jfif')}}">
                            </div>
                            <p class="detail">Cheers To You Gold 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 11--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage21.jfif')}}">
                            </div>
                            <p class="detail">Bubbly Bash 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <!----------slide 12--------->
                    <div class="swiper-slide">
                        <div class="slider-box">
                            <p class="time">New</p>
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='images/anyage22.jfif')}}">
                            </div>
                            <p class="detail">Board Game 
                                <a href="#" class="price">Price-40$</a>
                            </p>
                            <div class="cart">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--swiper  slider end-->
        <script type="text/javascript" src="{{ url_for('static',filename='js/swiper.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/script.js')}}"></script>

        <div class="container">
            <p style="margin-top: 35px"><b>Now that you have the perfect theme in mind, it’s time to get to planning! Remember to consider the time of day you’ll be hosting the party, as well as weather, food choices and guest count. Last but not least, don’t forget a remarkable gift that the birthday guest will cherish for years to come. Check our birthday bestsellers to find something perfect. Happy celebrating!</b></p>
        </div>
            
        {% endblock %} 
         


