{% extends "layout.html" %}
{% block body %}
            <div class="page-head_agile_info_w3l" style="background-image: url({{ url_for('static',filename='images/banrr2.jpg')}});background-position-x: center;background-position-y: center;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-ms-background-size: cover; -moz-background-size: cover; min-height: 280px;padding-top: 50px;">
                <div class="container">
                    <h1 style="text-align: center;color: #ff4157; font-family: exotc350_dmbd_btdemi-bold; font-size: 85px;letter-spacing: 2px; text-transform: capitalize;">Birthday Themes</h1>
                    <div class="services-breadcrumb">
                        <div class="agile_inner_breadcrumb">
                                <a href="/home"><b>Home</b></a><span style="font-weight: 300;font-size: 28px;padding-left: 20px;padding-right: 20px"><b>|</b></span>Birthday
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <p style="font-weight: 25px;font-size: 15px; padding-top: 25px; word-spacing: 0.2rem;font-family: 'Lato', sans-serif;">Sometimes your loved one’s special day is here before you know it and you haven’t planned anything to celebrate. We know it can be hard to decide on a party theme that you and all your guests will enjoy. That’s why we created a birthday party themes generator that will give you all kinds of festive inspiration for the big day. Based on party style and guest age, we’ll suggest some great ideas to get you well on your way to party-planning success!</p>
            </div>
                <div class="blog-list">
                    <div class="container">
                        <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">BIRTHDAY PARTY THEMES</h4>
                    </div>
                </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="inner">
                                <img src="{{ url_for('static',filename='images/bdy16.jpeg')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>KID-FRIENDLY</b></h5>
                                <p class="card-text">Make an easy and customizable party theme!!!</p>
                                <div id="loadMore">
                                    <a href="/birthdayslider">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="inner">
                                <img src="{{ url_for('static',filename='images/bdy13.jpeg')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>ADULTS ONLY</b></h5>
                                <p class="card-text">Make an easy and customizable party theme!!!</p>
                                
                                    <div id="loadMore">
                                        <a href="/birthdayslider.html">View More</a>
                                    </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4"> 
                        <div class="card shadow">
                            <div class="inner">    
                                <img src="{{ url_for('static',filename='images/bdy6.jpeg')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>ANY AGE</b></h5>
                                <p class="card-text">Make an easy and customizable party theme!!!</p>
                                <div id="loadMore">
                                        <a href="/birthday">View More</a>
                                </div>
                            </div>
                        </div>
                        </div> 
                    </div>
                </div>
                
{% endblock %}
