

{% extends "layout.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
          </script>

           <!--bootstrap css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
     <!--bootstrap js-->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
            <!--banner-->
            <div class="page-head_agile_info_w3l" style="background-image: url({{ url_for('static',filename='images/pic2.jpeg')}});background-position-x: center;background-position-y: center;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-ms-background-size: cover; -moz-background-size: cover; min-height: 200px;padding-top: 50px;">
                <div class="container">
                    <h1 style="text-align: center;color: #ff4157; font-family: exotc350_dmbd_btdemi-bold; font-size: 85px;letter-spacing: 2px; text-transform: capitalize;">Gallery</h1>
                    <div class="services-breadcrumb">
                        <div class="agile_inner_breadcrumb">
                                <a href="/home"><b>Home</b></a><span style="font-weight: 300;font-size: 28px;padding-left: 20px;padding-right: 20px"><b>|</b></span>Gallery
                        </div>
                    </div>
                </div>
            </div>
            <!--/banner-->
            <div class="clearfix"></div>
            <div class="blog-list">
                <div class="container">
                    <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">Gallery</h4>
                </div>
            </div>
 <!-- Gallery -->

                 <div class="gallery-section">
                    <div class="inner-width">
                        <div class="gallery">
                            <a href="{{ url_for('static',filename='images/gal-1.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-1.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-2.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-2.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-3.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-3.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-4.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-4.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-5.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-5.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-6.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-6.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/gal-7.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/gal-7.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/engagement theme.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/engagement theme.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/mehndi1.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/mehndi1.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/mehndi3.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/mehndi3.jpg')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/mehndi6.PNG')}}" class="image">
                                <img src="{{ url_for('static',filename='images/mehndi6.PNG')}}">
                            </a>
                            <a href="{{ url_for('static',filename='images/mehndi5.jpg')}}" class="image">
                                <img src="{{ url_for('static',filename='images/mehndi5.jpg')}}">
                            </a>
                            </div>
                    </div>
                 </div>
       <!-- /Gallery --> 
       <div class="line-wrap align-center" style="text-align: center;">
        <div class="line">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-1.004319834727255 -1.0011127187335447 203.99999999999997 24.619999999999983" width="200" height="20.62" fill="#000000">
                <path d="M158.49 16.27C161.09 18.14 163.91 14.19 162.59 10.29C161.28 6.26 158.02 3.46 153.59 2.68C143.99 1.02 125.06 11.55 113.04 14.8C104.11 17.21 98.63 13.67 95.67 9.73C101.74 13.99 107.26 12.48 112.93 11.4C125.96 8.92 139.4 -1.39 153.69 0.16C160.36 1.12 165.07 7.72 164.71 12.92C164.67 13.38 164.6 13.83 164.49 14.27C163.62 17.35 162.09 18.62 160.72 19C157.01 20.03 153.3 13.28 158.17 9.22C156.46 11.67 157.01 15.24 158.49 16.27Z"></path>
                <path d="M169.27 14.57C194.94 31.39 207.95 8.46 194.8 1.94C192.77 0.94 188.57 0.35 185.58 4.4C189.25 1.58 193.34 2.52 195.03 3.97C199.53 7.81 197.98 13.29 192.72 15.81C184.42 19.02 176.89 15.66 170.3 10.98C165.6 8.19 164.39 6.89 160.6 5.19C162.74 5.09 161.63 7.91 163.68 9.23C163.53 9.08 162.78 8.34 161.44 7.01L161.44 7.01L161.44 7.01C165.03 10.99 167.65 13.51 169.27 14.57Z"></path>
                <path d="M43.01 3.69C40.25 1.8 37.26 5.78 38.65 9.72C40.05 13.77 43.51 16.6 48.2 17.39C58.38 19.05 78.46 8.44 91.21 5.16C100.69 2.72 106.49 6.29 109.64 10.26C103.19 5.97 97.35 7.5 91.33 8.59C77.51 11.08 63.26 21.49 48.1 19.93C41.02 18.96 36.03 12.3 36.42 7.06C36.45 6.6 36.53 6.14 36.65 5.71C37.57 2.6 39.2 1.32 40.64 0.93C44.58 -0.11 48.51 6.7 43.35 10.79C45.16 8.32 44.58 4.72 43.01 3.69Z"></path>
                <path d="M32.23 6.43C5.31 -10.26 -8.35 12.5 5.45 18.96C7.57 19.96 11.98 20.54 15.12 16.52C11.27 19.32 6.98 18.39 5.21 16.95C0.48 13.15 2.11 7.71 7.64 5.2C16.35 2.01 24.24 5.35 31.15 9.99C36.09 12.75 37.36 14.05 41.34 15.74C39.08 15.84 40.25 13.03 38.1 11.73C38.26 11.87 39.04 12.61 40.46 13.93C36.68 9.98 33.94 7.48 32.23 6.43Z"></path>
            </svg>
        </div>
    </div>
    <!--Scripting-->
       <script>
            /* images preview */

            $(".gallery").magnificPopup({
                delegate:'a',
                type:'image',
                gallery:{
                    enabled:true
                }
            });
            
            /* back to top */
            $(window).scroll(function()
                {
                    if ($(window).scrollTop() > 200) {
                        $(".top").fadeIn();
                    }
                    else{
                        $(".top").fadeOut();

                    }
                 });
                 $(".top").click(function(){
                 $("html").animate({scrollTop:0},2000);
             });
        </script>
  <!-- /script code --> 

            
        <script>
            var grid = document.querySelector('.grid');

            var msnry = new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true
            });

            imagesLoaded(grid).on('progress', function () {
                // layout Masonry after each image loads
                msnry.layout();
            });
        </script>
  {% endblock %} 

