{% extends "layout.html" %}
{% block body %}
            <!--end-->
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active"> <img src="{{ url_for('static',filename='images/banner4.jpg')}}" style="width:100%; height: 500px" alt="First slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Wedding<br> Ceremony</h1>
                        </div>
                    </div>
                    <div class="item"> <img src="{{ url_for('static',filename='images/bdy5.jpeg')}}" style="width:100%; height: 500px" alt="Second slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Birthday<br> Ceremony</h1>
                        </div>
                    </div>
                    <div class="item"> <img src="{{ url_for('static',filename='images/banr3.jpg')}}" style="width:100%; height: 500px" alt="Third slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Making Your Events<br> Special</h1>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="{{ url_for('static',filename='images/icons/left-arrow.png')}}" onmouseover="this.src = 'images/icons/left-arrow-hover.png'" onmouseout="this.src = 'images/icons/left-arrow.png'" alt="left"></a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="{{ url_for('static',filename='images/icons/right-arrow.png')}}" onmouseover="this.src = 'images/icons/right-arrow-hover.png'" onmouseout="this.src = 'images/icons/right-arrow.png'" alt="left"></a>

            </div>
            <div class="clearfix"></div>

            <!--service block--->
            <section class="service-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px " src="{{ url_for('static',filename='images/icons/catering.png')}}">
                                </div>
                                <h4><a>Catering</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px " src="{{ url_for('static',filename='images/icons/party.png')}}">
                                </div>
                                <h4><a>Themes</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px"  src="{{ url_for('static',filename='images/icons/web-design.png')}}">
                                </div>
                                <h4><a>Create Your Own</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" src="{{ url_for('static',filename='images/icons/user.png')}}">
                                </div>
                                <h4><a>Customer Support</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--gallery block
            <section class="gallery-block gallery-front">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="gallery-image">
                                <img class="img-responsive" src="images/room1.png">
                                <div class="overlay">
                                    <a class="info pop example-image-link img-responsive" href="images/room1.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <p><a>delux room</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="gallery-image">
                                <img class="img-responsive" src="images/room2.png">
                                <div class="overlay">
                                    <a class="info pop example-image-link img-responsive" href="images/room2.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <p><a>super room</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="gallery-image">
                                <img class="img-responsive" src="images/room3.png">
                                <div class="overlay">
                                    <a class="info pop example-image-link img-responsive" href="images/room3.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <p><a>single room</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="gallery-image">
                                <img class="img-responsive" src="images/room4.png">
                                <div class="overlay">
                                    <a class="info pop example-image-link img-responsive" href="images/room4.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <p><a>double room</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->

            <!--offer block-->
            <section class="vacation-offer-block">
                <div class="vacation-offer-bgbanner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="vacation-offer-details">
                                    <h1>Your Event Awaits</h1>
                                    <button type="button" class="btn btn-default"><a href="/package" style="color: white">Choose a package</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End-->

            <!----resort-overview
            <section class="resort-overview-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                            <div class="side-A">
                                <div class="product-thumb">
                                    <div class="image">
                                        <a><img src="images/category1.png" class="img-responsive" alt="image"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="side-B">
                                <div class="product-desc-side">
                                    <h3><a>luxury spa</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                                    <div class="links"><a href="single-blog.html">Read more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                            <div class="side-A">
                                <div class="product-thumb">
                                    <div class="image">
                                        <a><img alt="image" class="img-responsive" src="images/category2.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="side-B">
                                <div class="product-desc-side">
                                    <h3><a>Beatusish ingl</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                                    <div class="links"><a href="single-blog.html">Read more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                            <div class="side-A">
                                <div class="product-desc-side">
                                    <h3><a>luxury room</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                                    <div class="links"><a href="single-blog.html">Read more</a></div>
                                </div>
                            </div>

                            <div class="side-B">
                                <div class="product-thumb">
                                    <div class="image txt-rgt">
                                        <a class="arrow-left"><img src="images/category3.png" class="img-responsive" alt="imaga"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                            <div class="side-A">
                                <div class="product-desc-side">
                                    <h3><a>heaven seanery</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                                    <div class="links"><a href="single-blog.html">Read more</a></div>
                                </div>
                            </div>

                            <div class="side-B">
                                <div class="product-thumb txt-rgt">
                                    <div class="image">
                                        <a class="arrow-left"><img src="images/category4.png" class="img-responsive" alt="imaga"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </section>-->
            <!---Category area---->
             <div class="container">
                <p style="font-weight: 100px;padding-top: 20px; letter-spacing: 0.1rem; justify-content: all;word-spacing: 0.3rem ">Sometimes your loved one’s special day is here before you know it and you haven’t planned anything to celebrate. We know it can be hard to decide on a party theme that you and all your guests will enjoy. That’s why we created a birthday party themes generator that will give you all kinds of festive inspiration for the big day. Based on party style and guest age, we’ll suggest some great ideas to get you well on your way to party-planning success!</p>

            </div>

            <div class="blog-list">
                <div class="container">
                    <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">Categories</h4>
            </div>
            <section class="blog_categorie_area">
                <div class="container">
                    <div class="title-info">
                        <h1 style="padding-top: 20px;padding-bottom: 15px;">
                            Birthday
                        </h1>
                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-3.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Birthday Celebration</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/bdy2.jpeg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Birthday Decoration Ideas</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-1.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Food</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div>
                <div id="container">
                <div id="loadMore">
                    <a href="/birthday">View More</a>
                    </div>
                    </div>
            </section>
            <section class="blog_categorie_area">
                <div class="container">
                     <div class="title-info">
                       <h1 style="padding-bottom: 15px">
                            Marriage
                        </h1>
                    </div>

                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-3.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Mehndi</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/bdy2.jpeg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Barat</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-1.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Reception</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div>
                 <div id="container">
                <div id="loadMore">
                    <a href="/birthday">View More</a>
                    </div>
                    </div>
            </section>
            <section class="blog_categorie_area">
                <div class="container">
                    <div class="title-info">
                        <h1 style="padding-top: 20px;padding-bottom: 15px;">
                            Theme Parties
                        </h1>
                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-3.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Theme Parties</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/bdy2.jpeg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Theme Ideas</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-1.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Food</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div>
                <div id="container">
                <div id="loadMore">
                    <a href="/birthday">View More</a>
                    </div>
                    </div>
            </section>
             <div class="blog-list">
                <div class="container">
                    <h4 style="padding-top: 05px;;text-align: center;">OR</h4>
            </div>
            <div id="container">
                <div id="loadMore">
                    <a href="#">Create Your Own</a>
                </div>
            </div>
{% endblock %}