<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon3.png"/>
        <title>Pak Event</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
        <link href="{{ url_for('static',filename='fonts/antonio-exotic/stylesheet.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/lightbox.min.css')}}">
        <link href="{{ url_for('static',filename='css/responsive.css')}}" rel="stylesheet">
        <script src="{{ url_for('static',filename='js/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/lightbox-plus-jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/instafeed.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/custom.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div id="page">
            <!---header top---->
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <a href="#"> </a>
                                <div class="info-block"><i class="fa fa-map"></i>701 Old York Drive Richmond USA.</div>-->
                        </div>
                        <div class="col-md-6">
                            <div class="social-grid">
                                <ul class="list-unstyled text-right">
                                    <li><a><i class="fa fa-facebook"></i></a></li>
                                    <li><a><i class="fa fa-twitter"></i></a></li>
                                    <li><a><i class="fa fa-linkedin"></i></a></li>
                                    <li><a><i class="fa fa-instagram"></i></a></li>
                                     <li><a href="LogIn.html"><i class="fa fa-lock" aria-hidden="true"></i>
                                    LogIn / SignUp</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header--->
            <header class="header-container">
                <div class="container">
                    <div class="top-row">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <div id="logo">
                                    <!--<a href="home.html"><img src="images/Pak logo2.png"  alt="logo"></a>-->
                                    <a href="home.html"><span>Pak</span>Event</a>
                                </div>                       
                            </div>
                            <div class="col-sm-6 visible-sm">
                                <div class="text-right"><button type="button" class="book-now-btn">Book Now</button></div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                                <nav class="navbar navbar-default">
                                    <div class="navbar-header page-scroll">
                                        <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                        <ul class="list-unstyled nav1 cl-effect-10">
                                            <li><a  data-hover="Home" class="active" href="home.html"><span>Home</span></a></li>
                                            <li class="dropdown"><a data-hover="Events" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="events.html"><span>Events</span></a>
                                                <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink" style="text-align: center;">
                                                    <a class="dropdown-item" href="wedding.html">Wedding</a><br>
                                                    <a class="dropdown-item" href="birthday.html">Birthday</a><br>
                                                    <a class="dropdown-item" href="#">Others...</a>
                                                </div></li>
                                            <li><a data-hover="Gallery"  href="gallery.html"><span>Gallery</span></a></li>
                                            <li><a data-hover="About Us"  href="about.html"><span>About Us</span></a></li>
                                            <li><a data-hover="Contact Us"  href="contact.html"><span>Contact Us</span></a></li>
                                            
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
                                <div class="text-right"><a href="booking.html"><button type="button" class="book-now-btn">Booking</button></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!--end-->
            <div id="myCarousel1" class="carousel slide" data-ride="carousel"> 
                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active"> <img src="{{ url_for('static',filename='images/banner4.jpg')}}" style="width:100%; height: 500px" alt="First slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Wedding<br> Ceremony</h1>
                        </div>
                    </div>
                    <div class="item"> <img src="{{ url_for('static',filename='images/bdy5.jpeg;)}}" style="width:100%; height: 500px" alt="Second slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Birthday<br> Ceremony</h1>
                        </div>
                    </div>
                    <div class="item"> <img src="{{ url_for('static',filename='images/banr3.jpg')}}" style="width:100%; height: 500px" alt="Third slide">
                        <div class="carousel-caption">
                            <h1>The Best Platform For Making Your Events<br> Special</h1>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="{{ url_for('static',filename='images/icons/left-arrow.png")}} onmouseover="this.src = 'static/images/icons/left-arrow-hover.png'" onmouseout="this.src = 'statc/images/icons/left-arrow.png'" alt="left"></a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="{{ url_for('static',filename='images/icons/right-arrow.png')}}" onmouseover="this.src = 'static/images/icons/right-arrow-hover.png'" onmouseout="this.src = 'images/icons/right-arrow.png'" alt="left"></a>

            </div>
            <div class="clearfix"></div>

            <!--service block--->
            <section class="service-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px " src="{{ url_for('static',filename='images/icons/catering.png')}}">
                                </div>
                                <h4><a>Catering</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px " src="{{ url_for('static',filename='images/icons/party.png')}}">
                                </div>
                                <h4><a>Themes</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" style="width: 55px; height: 45px"  src="{{ url_for('static',filename='images/icons/web-design.png')}}">
                                </div>
                                <h4><a>Create Your Own</a></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" class="img-responsive" src="{{ url_for('static',filename='images/icons/user.png')}}">
                                </div>
                                <h4><a>Customer Support</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

          

            <!--offer block-->
            <section class="vacation-offer-block">
                <div class="vacation-offer-bgbanner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="vacation-offer-details">
                                    <h1>Your Event Awaits</h1>    
                                    <button type="button" class="btn btn-default"><a href="package.html" style="color: white">Choose a package</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End-->

            
            <!---Category area---->
             <div class="container">
                <p style="font-weight: 100px;padding-top: 20px; letter-spacing: 0.1rem; justify-content: all;word-spacing: 0.3rem ">Sometimes your loved one’s special day is here before you know it and you haven’t planned anything to celebrate. We know it can be hard to decide on a party theme that you and all your guests will enjoy. That’s why we created a birthday party themes generator that will give you all kinds of festive inspiration for the big day. Based on party style and guest age, we’ll suggest some great ideas to get you well on your way to party-planning success!</p>
                
            </div>

            <div class="blog-list">
                <div class="container">
                    <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">Categories</h4>
            </div>
            <section class="blog_categorie_area">
                <div class="container">
                    <div class="title-info">
                        <h1 style="padding-top: 20px;padding-bottom: 15px;">
                            Birthday
                        </h1>
                    </div>
                    
                </div>  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-3.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Birthday Celebration</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/bdy2.jpeg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Birthday Decoration Ideas</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="{{ url_for('static',filename='images/cat-post-1.jpg')}}" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Food</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div>
                <div id="container">
                <div id="loadMore">
                    <a href="birthdayslider.html">View More</a>
                    </div>
                    </div>
            </section>
            <section class="blog_categorie_area">
                <div class="container">
                     <div class="title-info">
                       <h1 style="padding-bottom: 15px">
                            Marriage
                        </h1>
                    </div>
                        
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="static/images/cat-post-3.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Mehndi</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="static/images/bdy2.jpeg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Barat</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="static/images/cat-post-1.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Reception</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div> 
                 <div id="container">
                <div id="loadMore">
                    <a href="weddingslider.html">View More</a>
                    </div>
                    </div>
            </section>
            <section class="blog_categorie_area">
                <div class="container">
                    <div class="title-info">
                        <h1 style="padding-top: 20px;padding-bottom: 15px;">
                            Theme Parties
                        </h1>
                    </div>
                    
                </div>  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="static/images/cat-post-3.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Theme Parties</h5>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="categories_post">
                                <img src="static/images/bdy2.jpeg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Theme Ideas</h5>
                                        <div class="border_line"></div>
                                        <p>Be a part of Party</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="categories_post">
                                <img src="static/images/cat-post-1.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <h5>Food</h5>
                                        <div class="border_line"></div>
                                        <p>Let the food be finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---<button class="accordion"><a href="#"><i class="arrow right"></i></a></button>-->
                    </div>
                </div>
                <div id="container">
                <div id="loadMore">
                    <a href="birthday.html">View More</a>
                    </div>
                    </div>
            </section>
             <div class="blog-list">
                <div class="container">
                    <h4 style="padding-top: 05px;;text-align: center;">OR</h4>
            </div>
            <div id="container">
                <div id="loadMore">
                    <a href="#">Create Your Own</a>
                    </div>
                    </div>
    
           
            <!---footer--->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
                            <div class="footer-details">
                                <h4>Get in touch</h4>
                                <ul class="list-unstyled footer-contact-list">
                                    <li>
                                        <i class="fa fa-map-marker fa-lg"></i>
                                        <p>701 Gulberg III LAhore.</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone fa-lg"></i>
                                        <p><a href="tel:+9 304 4660438"> +9 304 4660438</a></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o fa-lg"></i>
                                        <p><a href="mailto:zam@gmail.com">zam@gmail.com</a></p>
                                    </li>
                                </ul>
                                <div class="footer-social-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>                           
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                                <div class="input-group" id="subscribe">
                                    <input type="text" class="form-control subscribe-box" value="" name="subscribe" placeholder="EMAIL ID">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn subscribe-button"><i class="fa fa-paper-plane fa-lg"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                            <div class="footer-details">
                                <h4>explore</h4>
                                <ul class="list-unstyled footer-links">
                                    <li class="active"><a href="home.html">Home</a></li>
                                    <li><a href="birthday.html">Events</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li> <a href="loGIn.html">Log In / Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="footer-details">
                                <h4>Now On Instagram</h4>
                                <div class="row">
                                    <div class="instagram-images">
                                        <div id="instafeed">
                                            <img style="width: 60px;height: 60px; padding-right: 5px" src="static/images/ban1.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ban2.jpeg">
                                            <img style="width: 60px;height: 60px ;padding-right: 5px" src="static/images/ban3.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ban4.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ban5.jpeg">
                                        </div>
                                        <div id="instafeed" style="padding-top: 7px">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ban8.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ban9.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/ad2.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy4.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy3.jpeg">
                                        </div>
                                        <div id="instafeed" style="padding-top: 7px">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy19.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy20.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy22.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy21.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy11.jpeg">
                                        </div>
                                        <div id="instafeed" style="padding-top: 7px">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy13.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy14.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy15.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy16.jpeg">
                                            <img style="width: 60px;height: 60px;padding-right: 5px" src="static/images/bdy17.jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        Pak Event &copy; 2020 All right reserved. 
                    </div>
                </div>
            </footer>

            <!--back to top--->
            <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
                <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
                <span>Top</span>
            </a>

        </div>
    </body>
</html>
