{% extends "layout.html" %}
{% block body %}
<div class="page-head_agile_info_w3l" style="background-image: url({{ url_for('static',filename='images/barat8.jfif')}});background-position-x: center;background-position-y: center;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-ms-background-size: cover; -moz-background-size: cover; min-height: 280px;padding-top: 50px;">
    <div class="container">
        <h1 style="text-align: center;color: #ff4157; font-family: exotc350_dmbd_btdemi-bold; font-size: 85px;letter-spacing: 2px; text-transform: capitalize;">Wedding Themes</h1>
       <!---------bradcrumbs--------->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                    <a href="/home"><b>Home</b></a><span style="font-weight: 300;font-size: 28px;padding-left: 20px;padding-right: 20px"><b>|</b></span>Wedding
            </div>
        </div>
    </div>
</div>
<!-----------Paragraph/heading----------->
<div class="container">
    <p style="font-weight: 25px;font-size: 15px; padding-top: 25px; word-spacing: 0.2rem;font-family: 'Lato', sans-serif;">Sometimes your loved one’s special day is here before you know it and you haven’t planned anything to celebrate. We know it can be hard to decide on a party theme that you and all your guests will enjoy. That’s why we created a birthday party themes generator that will give you all kinds of festive inspiration for the big day. Based on party style and guest age, we’ll suggest some great ideas to get you well on your way to party-planning success!</p>
</div>
    <div class="blog-list">
        <div class="container">
            <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">WEDDING THEMES</h4>
        </div>
    </div>

<!-------slider 1 themes------>
<div class="heading">
    <h1>MEHNDI</h1>
</div>
<!--swiper slider-->
<div class="container" style="background-color: #F0F0F0">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-------slide 1-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi13.jpg')}}">
                </div>
                <p class="detail">Ribbon Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 2---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi2.jpg')}}">
                </div>
                <p class="detail">Village Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 3----------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi4.jpg')}}">
                </div>
                <p class="detail">Mughal/ Taj Mahal theme/Devdas theme
                    <a href="#" class="price">Price-40$</a> 
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 4------------>
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                   <img src="{{ url_for('static',filename='images/mehndi5.jpg')}}">
                </div>
                <p class="detail">Moroccan/Arabic Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>    
        </div>
        <!--------slide 5------------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi7.png')}}">
                </div>
                <p class="detail">Umberella Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 6--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi9.png')}}">
                </div>
                <p class="detail">Rajisthani Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-----------slide 7---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi10.png')}}">
                </div>
                <p class="detail">Pop-Art Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-------slide 8-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi12.jpg')}}">
                </div>
                <p class="detail">The Truck Art Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 9--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi15.jpg')}}">
                </div>
                <p class="detail">Godil Mehndi
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--slide 10---->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi16.jpg')}}">
                </div>
                <p class="detail">Kala Chashma Mehndi Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Mehndi slider 2-->
<div class="container" style="background-color: #F0F0F0">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-------slide 1-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi17.jpg')}}">
                </div>
                <p class="detail">Mehndi Morroccon Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 2---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi14.jpg')}}">
                </div>
                <p class="detail">Rangoli Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 3----------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi19.jpg')}}">
                </div>
                <p class="detail">Village Theme
                    <a href="#" class="price">Price-40$</a> 
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 4------------>
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                   <img src="{{ url_for('static',filename='images/mehndi23.jpg')}}">
                </div>
                <p class="detail">White Blue Orange Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>    
        </div>
        <!--------slide 5------------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi20.jpg')}}">
                </div>
                <p class="detail">White Red Yellow Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 6--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi21.jpg')}}">
                </div>
                <p class="detail">White Yellow Orange Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-----------slide 7---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi22.jpg')}}">
                </div>
                <p class="detail">Yellow Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-------slide 8-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi12.jpg')}}">
                </div>
                <p class="detail">The Truck Art Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 9--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi15.jpg')}}">
                </div>
                <p class="detail">Godil Mehndi
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--slide 10---->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi16.jpg')}}">
                </div>
                <p class="detail">Kala Chashma Mehndi Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--swiper  slider end-->
<!--slider 2 clothes---->
<div class="heading">
    <h1>BARAT </h1>
</div>
<!--swiper slider-->
<div class="container" style="background-color: #F0F0F0">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!------slide 1----->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/mehndi1.jpg')}}">
                </div>
                <p class="detail">Rose Theme / REDS
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 2--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat1.jpg')}}">
                </div>
                <p class="detail">Red and Black Wedding Theme 
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-------slide 3-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat2.jpg')}}">
                </div>
                <p class="detail">Red and Cream Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 4------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat3.jpg')}}">
                </div>
                <p class="detail">White and Brown Wedding Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 5-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat4.jpg')}}">
                </div>
                <p class="detail">White and Red Wedding Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 6---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat5.jfif')}}">
                </div>
                <p class="detail">White Red & Maroon Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!------------slide 7-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat6.jfif')}}">
                </div>
                <p class="detail">Red Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 8---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat7.jpg')}}">
                </div>
                <p class="detail">Red n Gold Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 9-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat8.jfif')}}">
                </div>
                <p class="detail">Red Carpet Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 10--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/barat9.jpg')}}">
                </div>
                <p class="detail">Red Roses Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--swiper  slider end-->
<!--slider 3 clothes---->
<div class="heading">
    <h1>RECEPTION</h1>
</div>
<!--swiper slider-->
<div class="container" style="background-color: #F0F0F0">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!------slide 1----->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal1.jpg')}}">
                </div>
                <p class="detail">All White Wedding 1
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 2--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal2.jpg')}}">
                </div>
                <p class="detail">All White Wedding 2 
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!-------slide 3-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal3.jpg')}}">
                </div>
                <p class="detail">All White With Open Marquee
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 4------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal4.jpg')}}">
                </div>
                <p class="detail">Black and Gold Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 5-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal5.jpg')}}">
                </div>
                <p class="detail">Blue and White Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!---------slide 6---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal6.jpg')}}">
                </div>
                <p class="detail">Candle Light Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!------------slide 7-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal7.jpg')}}">
                </div>
                <p class="detail">Creame Wedding Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 8---------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal8.jpg')}}">
                </div>
                <p class="detail">Purple and White Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!--------slide 9-------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal9.jpg')}}">
                </div>
                <p class="detail">Cream and White Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <!----------slide 10--------->
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='images/wal10.jpg')}}">
                </div>
                <p class="detail">Rainforest Wedding Theme
                    <a href="#" class="price">Price-40$</a>
                </p>
                <div class="cart">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>
</div>
<!--swiper  slider end-->
<script type="text/javascript" src="{{ url_for('static',filename='js/swiper.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/script.js')}}"></script>

<div class="container">
<p style="margin-top: 35px"><b>Now that you have the perfect theme in mind, it’s time to get to planning! Remember to consider the time of day you’ll be hosting the party, as well as weather, food choices and guest count. Last but not least, don’t forget a remarkable gift that the birthday guest will cherish for years to come. Check our birthday bestsellers to find something perfect. Happy celebrating!</b></p>
</div>
{% endblock %} 