{% extends "layout.html" %}
{% block body %}
            <div class="page-head_agile_info_w3l" style="background-image: url({{ url_for('static',filename='images/wedban8.jfif')}});background-position-x: center;background-position-y: center;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-ms-background-size: cover; -moz-background-size: cover; min-height: 280px;padding-top: 50px;">
                <div class="container">
                    <h1 style="text-align: center;color: #ff4157; font-family: exotc350_dmbd_btdemi-bold; font-size: 85px;letter-spacing: 2px; text-transform: capitalize;">Wedding Themes</h1>
                    <div class="services-breadcrumb">
                        <div class="agile_inner_breadcrumb">
                                <a href="/home"><b>Home</b></a><span style="font-weight: 300;font-size: 28px;padding-left: 20px;padding-right: 20px"><b>|</b></span>Wedding
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <p style="font-weight: 25px;font-size: 15px; padding-top: 28px; word-spacing: 0.2rem;font-family: 'Lato', sans-serif;">Since people spend lots of money upon wedding ceremony and Parties, but they imply themselves in each and every matter in such a manner that at the closing of the day they experience that they’ve not rolled wedding ceremony of their solely Son/Daughter or they have not been capable to relish the occasions. That is how come, a Wedding Planner Coordinator is compulsory to make you, your fellowship & admirers prosperous on the day of the Wedding/Event.</p>
                <p style="font-weight: 25px;font-size: 15px; padding-top: 25px; word-spacing: 0.2rem;font-family: 'Lato', sans-serif;"> We as Wedding Event Planner are here to take care of everything Theme based Weddings, Musical Extravaganzas and formal and informal Parties and we Organize it all. We make you cozy to enjoy each and every function along with your fellowship & admirers prosperous on the day of the Wedding/Event.</p>
            </div>
            <div class="blog-list">
                    <div class="container">
                        <h4 style="padding-top: 20px;border-bottom: 2px solid #ff4157;">WEDDING THEMES</h4>
                    </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="inner">
                                <img src="{{ url_for('static',filename='images/mehndi.jpg')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>Mehndi</b></h5>
                                <p class="card-text">Make an easy and customizable mehndi theme!!!</p>
                                <div id="loadMore">
                                    <a href="/weddingslider">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="inner">
                                <img src="{{ url_for('static',filename='images/barat.jfif')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>Barat</b></h5>
                                <p class="card-text">Make an easy and customizable barat theme!!!</p>
                                
                                    <div id="loadMore">
                                        <a href="/weddingslider">View More</a>
                                    </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4"> 
                        <div class="card shadow">
                            <div class="inner">    
                                <img src="{{ url_for('static',filename='images/reception.jpg')}}" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>Reception</b></h5>
                                <p class="card-text">Make an easy and customizable reception theme!!!</p>
                                <div id="loadMore">
                                        <a href="/weddingslider">View More</a>
                                </div>
                            </div>
                        </div>
                        </div> 
                    </div>
                </div>
{% endblock %} 
    