
.gallery-section{
 width: 100%;
 padding: 60px 0;
 background: #f1f1f1;
}
.inner-width{
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: auto;
}
.gallery-section h1{
	text-align: center;
	text-transform: uppercase;
	color: #333;
}
.border{
	width: 180px;
	height: 4px;
	background: #333;
	margin: 60px auto;
}
.gallery-section .gallery{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}
.gallery-section .image{
	flex: 25%;
	overflow: hidden;
	cursor: pointer;
}
.gallery-section .image img{
	width: 100%;
	height: 100%;
	transition: 0.4s;
}
.gallery-section .image:hover img{
	transform: scale(1.3,1.3);
}
@media screen and (max-width: 768px){
	.gallery-section .image{
		flex: 50%;
	}
}
/*back to top*/
.top{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fd7e14;
  bottom: 15px;
  right: 15px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  display: none;
}
/*  Contact Us*/
/*.bottom{
	background: url(../images/inner.png) no-repeat top center;
	background-size: 400%;
	background-position: 0 -150px;
}
.sub{
	text-align: center;
	color: #faa635;
}
.address p{
	font-weight: 600;
}
/* About us 
.img-fluid
{   width: 100%;
	height: 250px !important ;
	float: left;
	margin-right: 50px;
	border-radius: 10%;
}
*/